/* Landing page
Cliente: Gazelle
Diseño: Adriana Olguin
Programación: TripleW.site
Fecha: 25 Febrero 2020
Verisón: 1.0
*/
body{
	margin:0;
	padding:0;
	color: #1d1d1b;
	font-family: 'Montserrat' !important;
}
#cabeza{
	background-color:#1d1d1b;
}
#cont-gral{
	background-image: url(../imagenes/bg-gazelle.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}
.img-logo{
	width: 140px;
}
.el-formu{
	background-color: #f9fafc;
	-webkit-box-shadow: 0 0 4px 1px #C4C4C4;
	box-shadow: 0 0 4px 1px #C4C4C4;
}
h1, h2, h3, h4, h5, h6{
	color: #f9b233;
}
.color-amarillo{
	color: #f9b233;
}
.form-control{
	border: none;
	border-radius: 0;
	background-color: transparent;
	border-bottom: 1px solid #1d1d1d;
}
select{
	border: none !important;
	border-radius: 0 !important;
	background-color: transparent !important;
	border-bottom: 1px solid #1d1d1d !important;
}
#pie{
	background-image: url(../imagenes/bg-btns.png);
	background-repeat: repeat-x;
	background-size: contain;
}
.bg-btns{
	background-image: url(../imagenes/bg-btns.png);
}
.btn{
	border-radius: 0;
	border:0;
	color: #1d1d1d;
	padding: 5px 30px;
}
.enlace-negro{
	color: #1d1d1d;
	font-weight: bold;
}
.serviciosh{}
.serviciosh li{
	list-style: none;
	background: url("../imagenes/estiloli.png") 0 10px no-repeat;
	padding: 0 0 5px 15px;
	margin-bottom: 15px;
}
.font25{
	font-size: 25px;
}
.font19{
	font-size: 19px;
}
.font24{
	font-size: 24px;
}